<ion-view view-cache="false">
  <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side='left'>
        <button class="button button-icon button-clear" ng-if="!$root.voiceOver" menu-toggle="left">
         <img ng-if="$root.user" src="https://imgp.whaleshares.io/profileimage/{{$root.user.username}}/128x128" class="headerAvatar" onerror="this.src=\'img/ewhaleshares_white.png\'" onabort="this.src=\'img/ewhaleshares_white.png\'"/>
          <i ng-if="!$root.user" class="icon ion-navicon"></i> 
        </button>
        <a href class="button button-icon ion-more" ng-if="$root.voiceOver" menu-toggle="left">{{::translations.menu}}</a>
      </ion-nav-buttons>
      <ion-nav-title>
        <div class="page-title">{{'MARKETPLACE'|translate}}</div>
      </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="padding" ng-class="{'theme-dark':$root.$storage.theme == 'night'}">
    <h4>{{'EXTERNAL_APPS'|translate}}</h4>
    <div class="row">
      <div class="col" ng-click="requestApp('WhaleSharesMonitor')">
        <center>
          <img src="img/logo_whalesharesmonitor.png" alt="WhaleShares Monitor" style="width: 100%;">
          <b>WhaleShares Monitor</b>
          <p class="gray">{{'BY'|translate}} <a href="#app/profile/swapbit">Feruz</a></p>
        </center>
      </div>
      <div class="col" ng-click="requestApp('WhaleSharesFest')">
        <center>
          <img src="img/logo_whalesharesfest.png" alt="WhaleShares Fest" style="width: 100%;">
          <b>WhaleShares Fest</b>
          <p class="gray">{{'BY'|translate}} <a href="#app/profile/swapbit">Feruz</a>, <a href="#app/profile/roelandp">Roeland</a> &amp; <a href="#app/profile/cass">Cass</a></p>
        </center>
      </div>
    </div><br/>
    <h4>{{'PLUGINS'|translate}}</h4>
    <div class="row">
      <div class="col italic">
        <center>
          {{'COMING_SOON'|translate}}...
        </center>
      </div>
    </div>
    <br/>
    <h4>{{'SUGGEST'|translate}}</h4><br/>
    <div class="row">
      <div class="col" ng-click="requestApp('New')">
        <center>
          <img src="img/plus.png" alt="Suggest New" style="width: 100%;">
          <b>{{'NEW'|translate}}</b>
        </center>
      </div>
      <div class="col">
      </div>
    </div><br/>
  </ion-content>
</ion-view>
